<IfModule mod_mime.c>
  AddType application/manifest+json .webmanifest
  AddType image/svg+xml .svg
  AddType image/x-icon .ico
  AddType image/png .png
  AddType application/javascript .js
  AddType text/css .css
</IfModule>
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /safepayzk/

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>